@{
    ViewData["Title"] = "Expenses and Income";
}

<div class="bg-info text-white text-center">
    <h1 class="display-4">Welcome to @ViewData["Title"]</h1>
    <p class="lead">This Amazing App, The power of asp.net core with sql</p>
    <hr />
</div>
